[submodule "makefiles"]
	path = makefiles
	url = https://github.com/ncarlier/makefiles
[submodule ".docker/searx-redis"]
	path = .docker/searx-redis
	url = https://gitlab.e.foundation/e/cloud/my-spot
[submodule ".docker/tor-haproxy"]
	path = .docker/tor-haproxy
	url = https://github.com/x0rzkov/alpine-tor
[submodule ".docker/e3w"]
	path = .docker/e3w
	url = https://github.com/x0rzkov/e3w
